* {
	margin: 0;
}

/*box-sizing will ensure an element stays within a parent width, even if padding or borders are applied.*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.wrapper {
	height: 100vh;
	background-color: gray;
}

.surroundContainer {
	position: relative;
	height: 100vh;
	white-space: nowrap;
	font-size: 0;
}

.scroller {
	/*This scroll-snap functionality only works in Safari*/
	-webkit-scroll-snap-type: mandatory;
	-webkit-scroll-snap-points-x: repeat(100%);

	/*This scroll snap functionality is part of a polyfill
	that enables the functionality in Chrome.*/
	scroll-snap-type: mandatory;
	scroll-snap-destination: 0% 100%;
	scroll-snap-points-x: repeat(100%);
	/*Here, I've set the width to be 100% of the VW
	(the portion of the screen that the viewer sees before scrolling).
	Thus, overflow occurs (because my divs stretch three screens or three VWs, basically)
	and the scroll event from scrollsnap-polyfill.js is triggered.*/
	width: 100vw;
	overflow: auto;
}

.background-image-full {
	height: 100%;
	width: 100%;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
}

.button {
	display: flex;
	justify-content: center;
	width: 150px;
	padding: 15px;
	border: 2px solid white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Spinnaker';
	font-size: 18px;
	color: white;
}

.button:hover {
	border: 2px solid Orange;
	color: Orange;
}

.margin-10 {
	margin: 10px;
}

.margin-40 {
	margin: 40px;
}

.margin-90 {
	margin: 90px;
}

.padding-50 {
	padding: 50px;
}

.padding-buttons {
	padding: 30px 30px 50px 30px;
}

.padding-30 {
	padding: 30px;
}

/*____________________________________________________*/

#homeImg {
	background-image: url("/images/moonlit.jpg");
}

#kira {
	font-size: 60px;
    font-family: 'Monoton';
    position: relative;
    top: 40px;
    padding-left: 50px;
}

#pilot {
	font-size: 75px;
	font-family: 'Monoton';
	padding-left: 50px;
}

#AboutImg {
	background-image: url("/images/barn.png");
}

#CreditImg {
	background-image: url("/images/found.jpg");
}

/*------------------------------*/

.container {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.row {
	flex-flow: row;
	-webkit-flex-flow: row;
}

.w-100 {
	width: 100%;
}

.column {
	flex-flow: column;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-space-around {
	justify-content: space-around;
}

.align-start {
	align-content: flex-start;
}

.align-end {
	align-items: flex-end;
}

.align-center {
	align-items: center;
}

.align-space-between {
	align-content: space-between;
}

.align-space-around {
	align-content: space-around;
}

/*------------------------------*/
/*TEST*/

.star {
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 0 20px rgba(164, 204, 244, 0.65);
	height: 8px;
	left: 0;
	margin: 1px;
	position: absolute;
	top: 0;
	width: 8px;
	z-index: 2;
}

.constellation .xlarge {
	border-radius: 6px;
	height: 10px;
	width: 10px;
}

.constellation .large {
	border-radius: 4px;
	height: 8px;
	margin: 1px;
	width: 8px;
}

.constellation .medium {
	border-radius: 3px;
	height: 6px;
	margin: 2px;
	width: 6px;
}

.constellation .small {
	border-radius: 2px;
	height: 4px;
	margin: 3px;
	width: 4px;
}



